<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>最新消息</title>
    <!-- bootstrap必要引入文件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- jquery必要引入文件（可用可不用） -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/news.css">
    <!-- 每個連結通用 -->
    <link rel="stylesheet" href="../css/nav.css">
</head>

<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="" alt="" srcset="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            展覽資訊
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="exhibition">實體展覽</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="portfolio">影展</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="">線上集章</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            展覽作品
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="portfolio/gaming">遊戲</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="portfolio/interaction">互動</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="portfolio/film">動畫影視</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="portfolio/marketing">行銷</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            公告
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="news">一般消息</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="activity">活動快訊</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">關於我們</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--  -->
    <div class="container">
        <div class="card">
            <div class="card-header">標題 1</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text">
                    簡述內文1 簡述內文1 簡述內文1 簡述內文1 簡述內文1 
                    簡述內文1 簡述內文1 簡述內文1
                </p>
                <!-- <p class="placeholder-wave">
                <span class="placeholder col-12"></span>
                <span class="placeholder col-12"></span>
              </p> -->

                <!-- Button 了解詳情 -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#news_content">
                    了解詳情
                </button>
            </div>
            <div class="card-footer text-muted">
                2023.04.01
            </div>
        </div>

        <div class="card">
            <div class="card-header">標題 2</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text">
                    簡述內文2 簡述內文2 簡述內文2 簡述內文2 簡述內文2 
                    簡述內文2 簡述內文2 簡述內文2
                </p>
                <!-- <p class="placeholder-wave">
                <span class="placeholder col-12"></span>
                <span class="placeholder col-12"></span>
              </p> -->

                <!-- Button 了解詳情 -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#news_content">
                    了解詳情
                </button>
            </div>
            <div class="card-footer text-muted">
                2023.03.11
            </div>
        </div>

        <div class="card">
            <div class="card-header">標題 3</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text">
                    簡述內文3 簡述內文3 簡述內文3 簡述內文3 簡述內文3 
                    簡述內文3 簡述內文3 簡述內文3
                </p>
                <!-- <p class="placeholder-wave">
                <span class="placeholder col-12"></span>
                <span class="placeholder col-12"></span>
              </p> -->

                <!-- Button 了解詳情 -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#news_content">
                    了解詳情
                </button>
            </div>
            <div class="card-footer text-muted">
                2023.02.25
            </div>
        </div>

        <div class="card">
            <div class="card-header">標題 4</div>
            <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <p class="card-text">
                    簡述內文4 簡述內文4 簡述內文4 簡述內文4 簡述內文4
                    簡述內文4 簡述內文4 簡述內文4
                </p>
                <!-- <p class="placeholder-wave">
                <span class="placeholder col-12"></span>
                <span class="placeholder col-12"></span>
              </p> -->

                <!-- Button 了解詳情 -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#news_content">
                    了解詳情
                </button>
            </div>
            <div class="card-footer text-muted">
                2023.01.30
            </div>
        </div>

        <!-- 一般消息內文 -->
        <div class="modal fade" id="news_content" tabindex="-1" aria-labelledby="news_contentLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="news_contentLabel">一般消息標題</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            
                        </p>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- footer -->

    <hr>

    <div class="container">
        <div class="row footer">
            <div class="col">
                <p>
                    指導單位：<br>元智大學資訊學院
                <p>
            </div>
            <div class="col">
                <p>
                    主辦單位：<br>元智大學資訊傳播學系
                <p>

            </div>
            <div class="col">
                <p>
                    執行單位：<br>
                    元智大學資訊傳播學系<br>
                    第二十六屆畢業展覽籌備會
                </p>

            </div>

        </div>
    </div>
</body>
<script src="../js/news.js"></script>

</html>