<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>展場作品</title>
    <!-- bootstrap必要引入文件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- jquery必要引入文件（可用可不用） -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/tv.css">
    <!-- 每個連結通用 -->
    <link rel="stylesheet" href="../css/nav.css">
</head>

<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="" alt="" srcset="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            展覽資訊
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="exhibition">實體展覽</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="portfolio">影展</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="">線上集章</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            展覽作品
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="portfolio/gaming">遊戲</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="portfolio/interaction">互動</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="portfolio/film">動畫影視</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="portfolio/marketing">行銷</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            公告
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="news">一般消息</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="activity">活動快訊</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">關於我們</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- 影展內容 -->

    <div class="container">

        <!-- 宣傳片 -->

        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="100%" height="600 px" src="https://www.youtube.com/embed/Iv7juZvsYsE" title="【PAINTNIC】預告02｜元智大學資傳系第25屆畢業展" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

            </iframe>
        </div>

        <!-- 介紹 -->

        <div class="card">
            <div class="row">
                <div class="card-body">
                    <h1 class="card-title">
                        元智大學資訊傳播學系 <br>
                        第 26 屆影展 
                    </h1>
                    <p id="date">
                        112 年 04 月 26 日
                    </p>
                    <p class="card-text">
                        介紹內文介紹內文介紹介紹內文介紹內文介紹介紹內文
                        介紹內文介紹介紹內文介紹內文介紹介紹內文介紹內文
                        介紹介紹內文介紹內文介紹介紹內文介紹內文介紹內文
                        介紹內文介紹內文介紹介紹內文介紹內文介紹介紹內文
                        介紹內文介紹介紹內文介紹內文介紹介紹內文介紹內文
                        介紹介紹內文
                    </p>
                </div>
            </div>
        </div>

        <!-- 作品介紹 -->

        <div class="card">

            <div class="row">
                <h2 class="card-title film_title text-center">
                    影視作品
                </h2>
            </div>

            <div class="row row-cols-1 row-cols-sm-3 g-3">
                <div class="col">
                    <div class="card text-center">
                        <img src="media/predictor.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                           <h5 class="card-title">作品名稱</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <img src="media/predictor.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                           <h5 class="card-title">作品名稱</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <img src="media/predictor.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                           <h5 class="card-title">作品名稱</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
 
    <!-- footer -->

    <hr>

    <div class="container">
        <div class="row footer">
            <div class="col">
                <p>
                    指導單位：<br>元智大學資訊學院
                <p>
            </div>
            <div class="col">
                <p>
                    主辦單位：<br>元智大學資訊傳播學系
                <p>

            </div>
            <div class="col">
                <p>
                    執行單位：<br>
                    元智大學資訊傳播學系<br>
                    第二十六屆畢業展覽籌備會
                </p>

            </div>

        </div>
    </div>    
</body>
<script src="../js/portfolio.js"></script>

</html>