/* .container{
    background-color: blanchedalmond;
} */
.home_intro{
    background-color: rgb(202, 254, 234);
    height: 520px;
}
.home_intro p{
    margin: 80px 10%;
    border: 2px solid black;
    text-align: center;
}

h1{
    margin: 80px 0;
    text-align: center;
}