/*----------- 這裡是放統一的樣式 -------------*/

/* 統一container上下間距 */
.margin_y{
    margin-top: 80px;
    margin-bottom: 80px;
}
.padding_y_40{
    padding: 40px 0;
}


/*--------- 統一字體與間距 ----------*/

/* 最大標題 */
.header1{
    margin: 0 0 40px;
    font-size: 64px;
}
/* 一般標題 */
.header2{
    /* text-align: center; */
    font-size: 48px;
    margin: 0 0 80px;
}
.header3{
    font-size: 36px;
    margin-bottom: 40px;
}

/* 內文1 */
.text1{
    font-size: 24px;
    margin: 0 0 80px;
}
.text1_2{
    font-size: 24px;
    margin: 0 0 40px;
}
.text1_3{
    font-size: 24px;
}
/* 內文2 */
.text2{
    font-size: 16px;
}
/*  */
.text3{
    font-size: 20px;
    margin-bottom: 40px;
}

/*--------- navbar ----------*/

.nav-link{
    margin: 40px 60px;
    font-size: 20px;
}
.navbar-brand{
    margin: 0 40px;
    height: 80px;
    width: 80px;
    border: 2px solid black;
} 

/*----- 首頁：主視覺；關於我們：畢籌會大合照 -----*/

.banner{
    background-color: bisque;
    height: 520px;
}

/*----------- footer ------------*/
