/*--------- 統一字體與間距 ----------*/

/* 最大標題 */
.header1{
    margin: 80px 0 40px;
    font-size: 64px;
}
/* 主標題 */
.header2{
    /* text-align: center; */
    font-size: 48px;
    margin: 80px 0 40px;
}

/* 內文 */
.text1{
    font-size: 24px;
    margin: 0 0 80px;
}
.text1_2{
    font-size: 24px;
    margin: 0 0 40px;
}
.text1_3{
    font-size: 24px;
    /* text-align: center; */
}
.text2{
    font-size: 16px;
}

/*--------- navbar ----------*/

.nav-link{
    margin: 40px 60px;
    font-size: 20px;
}
.navbar-brand{
    margin: 0 40px;
    height: 80px;
    width: 80px;
    border: 2px solid black;
} 

/*----- 首頁：主視覺：畢籌會大合照 -----*/

.banner{
    background-color: bisque;
    height: 520px;
}

/*----------- footer ------------*/

.footer .col{
    /* border: 2px solid black; */
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    padding: 80px 5%;
}
.footer .col p{
    /* text-align: center; */
}